services:
  supportbot:
    build: .
    restart: unless-stopped
    expose:
      - 8080
    environment:
      - MONGO_URI=mongodb://mongodb:27017/support
    volumes:
      - /config.yaml:/bot/config/config.yaml

  mongodb:
    image: mongo:8.0
    restart: unless-stopped
    volumes:
      - mongodb_data:/data/db 

volumes:
  mongodb_data:
  signal:
